
@font-face {
  font-family: 'SanomatGrabApp';
  src: url('font/Sanomat Grab Web-Light TH.woff2') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SanomatGrabApp';
  src: url('font/Sanomat Grab Web-Regular TH.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SanomatGrabApp';
  src: url('font/Sanomat Grab Web-Medium TH.woff2') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SanomatGrabApp';
  src: url('font/Sanomat Grab Web-Bold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  text-align: center;
}
button, .navbar-brand {
  display: block;
  margin: 15px auto 20px;
}
button {
  font-family: 'SanomatGrabApp', Arial, sans-serif;
  font-weight: 700;
  background-color: #00b14f;
  color: white;
  padding: 16px;
  font-size: 14px;
  border-radius: 6px;
}

.continue {
  font-family: 'SanomatGrabApp', Arial, sans-serif;
  font-weight: 700;
  background-color: #00b14f;
  color: white;
  padding: 16px;
  margin: 16px auto;
  font-size: 14px;
  border-radius: 6px;
  display: inline-block;
  text-decoration: none;
}

.navbar-brand {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('./img/Grab_logo.png');
  height: 35px;
  width: 91px;
  font: 0/0 a;
  background-color: transparent;
}
@media only screen and (max-width: 767px) {
  body {
    margin: 16px;
  }
  .navbar-brand {
    width: 78px;
    height: 30px;
  }
}
