@font-face {
  font-family: 'SanomatGrabApp';
  src: url('font/Sanomat Grab Web-Light TH.woff2') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SanomatGrabApp';
  src: url('font/Sanomat Grab Web-Regular TH.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SanomatGrabApp';
  src: url('font/Sanomat Grab Web-Medium TH.woff2') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SanomatGrabApp';
  src: url('font/Sanomat Grab Web-Bold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  font-family: 'SanomatGrabApp', Arial, sans-serif;
}

.header {
  background-color: white;
  padding: 16px;
}
  .header .navbar-brand {
    display: block;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('./img/Grab_logo.png');
    height: 28px;
    width: 72px;
    font: 0/0 a;
    background-color: transparent;
  }

.main {
  padding: 16px;
}
  .main .title {
    margin-top: 0;
    margin-bottom: 16px;
    color: #1c1c1c;
    font-size: 20px;
    font-weight: 500;
  }
  .main .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(9, 27, 27, 0.1);
  }
    .main .card .image {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
    .main .card .description {
      padding: 16px 16px 0;
      margin: 0;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: #1c1c1c;
    }
    .main .card .cta {
      padding: 16px;
      width: 100%;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.5;
      color: #00a5cf;
      -webkit-appearance: none;
      background-color: white;
      border: none;
      border-radius: 0 0 10px 10px;
    }

.footer {
  position: absolute;
  bottom: 0;
  width: calc(100vw - 32px);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
  .footer .logo {
    height: 16px;
    padding: 16px 4px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px #dadada;
  }
  .footer .text {
    flex-grow: 1;
    margin-left: 12px;
  }
    .footer .text .heading {
      margin: 0;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: #1c1c1c;
    }
    .footer .text .subheading {
      margin: 0;
      font-size: 12px;
      line-height: 16px;
      color: #9a9a9a;
    }
  .footer .cta {
    padding: 14px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 6px;
    background-color: transparent;
    color: #676767;
    border: 1px solid #676767;
    -webkit-appearance: none;
  }
